<!-- <query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="false">
    <div class="gf-form-inline">

        <div class="gf-form">
            <label class="gf-form-label">
                <i ng-show="ctrl.loading" class="fa fa-spinner fa-spin"></i>
                <i ng-show="ctrl.loadingOk" class="fa fa-check" aria-hidden="true"></i>
                <i ng-show="ctrl.loadingErr" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </label>
        </div>

        <div ng-if="!ctrl.target.rawQuery">
            <div class="gf-form">
                <gf-form-dropdown model="ctrl.target.target"
                    allow-custom="true"
                    lookup-text="true"
                    get-options="ctrl.getOptions($query)"
                    on-change="ctrl.onChangeInternal()">
                </gf-form-dropdown>
            </div>
        </div>
        

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>
</query-editor-row> -->
  
